{% extends 'base.html' %}
{% load static %}

{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'css/profile.css' %}" />

<br>

<header>
  <div class="container"> <br><br>
    <div class="col-12">
        <div class="profile">
            <div>
              <h1 class="title profile-user-name"><b>{{ u.customer.slug }}</b></h1>
            </div>
      
            <div class="profile-bio">

              <h3><b>Registered Car: </b><span class="profile-real-name">{{ u.customer.car.make }} </span> 
                ◌ {{ u.customer.car.model }} 
                ◌ {{ u.customer.car.year }}
                - {{ u.customer.car.category }}
                <button style="margin-left: 20px;" class="btn btn-primary btn-round btn-sm">Edit</button>

            </div>
          </div>
    </div>
    <br> <br>
    <div  class="col-12"> 
        <button style="display:block; margin:0 auto" class="btn btn-success">Schedule new appointment</button>
    </div>


  </div>
  </div>
</header>

<main>

  <div class="container">

    <div class="profile-tabs">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
                <h3>
                    <a class="nav-link active" href="#appointments" data-toggle="tab" role="tab">Appointments</a>
                </h3>
            </li>
          </ul>
        </div>
      </div>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="appointments" role="tabpanel">
          <div class="gallery">

            <table style='font-size:120%'class="table">
                <thead>
                    <tr>
                        <th>Service Type</th>
                        <th>Status</th>
                        <th>Mechanic</th>
                        <th>Comments</th>
                        <th>Date</th>
                        <th>Estimated Cost</th>
                    </tr>
                </thead>
                <tbody>
            {% if appointments %}
            {% for app in appointments %}
            <tr>
                <td>
                  <ul>
                    {% for s in app.service_list %}
                    
                      <li><span>{{s.name}}</span></li>
                    {% endfor %}
                  </ul>
                </td>
                <td>{{app.get_status_display}}</td>
                <td>{{ app.mechanic_name}}</td>
                <td>{{ app.comments}}</td>
                <td>{{ app.created_at}}</td>
                <td class="text-center">&euro; {{ app.total_cost}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
          </div>
          
        </div>

      </div>
    </div>


  </div>
</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{% endblock %}